{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<style>
 .container{
    margin-top: -350px;
    align-items: center;
 }

 .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .head{
    margin-bottom: 80px;
 }


  .image{
    border-radius:  14px 14px 0px 0px;
  }

  .holder {
    width: 80%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
  }
</style>

<div style="background-color: lightgrey; width:100%; height:500px">
</div>
 
<div class="container">
    <div class="heading">
        <h2 class="head">About Us</h2>
   
    <img src = "{% static 'images/notes2.jpg' %}" class="image" style="width:80%">
    
    <hr>
    <div class="holder">
      <p>
        Notes Sharing website is not just a note-taking platform; it's a gateway to a more organized, 
        efficient, and connected way of managing information. Join us in this digital journey, 
        and experience the benefits of seamless note sharing and collaboration like never before. 
        Start sharing knowledge effortlessly with our website today!
      </p>
    </div>
    
</div>
</div>
<br><br>
{% endblock %} 