{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<style>
 .container{
    margin-top: -350px;
    align-items: center;
 }

 .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .head{
    margin-bottom: 80px;
 }


  .image{
    border-radius:  14px 14px 0px 0px;
  }
</style>

<div style="background-color: lightgrey; width:100%; height:500px">
</div>
 
<div class="container">
    <div class="heading">
        <h2 class="head">About Us</h2>
   
    <img src = "{% static 'images/notes2.jpg' %}" class="image" style="width:80%">
    
    <hr>
<p>Hello Friends...<br>
This is Simple Study Notes Sharing Site For Students
     using Python Django , HTML , CSS , Bootstrap and Sqlite .
</p>
</div>
</div>
<br><br>
{% endblock %} 